/*CARDS*/

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    border: none;
    margin-bottom: 20px;
    display: flex;
    margin-top: 20px;
    align-self: normal;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: $letraClara;
    transition: all 0.3s;

    &:hover {
        background-color: white;
    }

    img {
        max-height: 100%;
        max-width: 100%;
        transition: all 0.3s;

        &:hover {
            transform: scale(0.9, 0.9);
        }
    }

    h3 {
        text-align: center;
        font-size: 1.6rem;
        margin-top: 15px;
        font-weight: bold;
        margin-bottom: 12px;
    }

    h4 {
        color: $colorPrincipal;
        text-align: center;
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 13px;
        margin-top: auto;
    }
}

.btnProductos {
    display: inline-block;
    background-color: $colorPrincipal;
    color: $letraClara;
    font-size: 1.4rem;
    padding: 10px;
    border: $colorPrincipal solid 1px;
    border-radius: 15px;
    transition: all 0.3s;
    margin-top: auto;

    &:hover {
        background-color: $colorSecundario;
        color: $letraClara;
    }
}

.modal h1 {
    text-align: center;
    color: $colorPrincipal;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.8rem;
}

.btnSeguirComprando {
    background-color: $colorPrincipal;
    color: $letraClara;
    font-size: 1.5rem;
    padding: 10px;
    border: none;
    border-radius: 15px;
    transition: all 0.3s;

    &:hover {
        background-color: $colorSecundario;
        border: none;
        color: $letraClara;
    }
}

.btnFinalizarCompra {
    background-color: #B7B9B4;
    color: $colorPrincipal;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 10px;
    border-radius: 15px;
    transition: all 0.3s;

    &:hover {
        background-color: lightgrey;
        color: $colorPrincipal;
    }
}