/*CARRITO DE COMPRAS*/


.tabla {
    display: flex;
    justify-content: center;
    width: 75vw;
    flex-direction: column;

    table {
        margin-bottom: 20px;


        .titulosCarrito {
            background-color: $colorPrincipal;
            color: $letraClara;
        }

        tr {
            border: lightgray 1px solid;
            border-radius: 40px;
            text-align: center;
            padding: 10px;

            td {
                text-align: center;
                padding: 10px;

                h2 {
                    font-size: 1.3rem;
                }

                h3 {
                    font-size: 1.1rem;
                }

                button {
                    @include botonPrincipal;
                    width: 35px;
                    height: 35px;
                    border: lightgray 1px solid;
                    padding: 1px;
                }

                .btnCarritoX {
                    border-radius: 8px;
                }
            }

            .celdaProducto {
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                .imgCarrito {
                    width: 120px;
                    height: 100px;
                }

                h3 {
                    color: #FC6736;
                    font-weight: bold;
                }

            }

            .celdaCantidad {

                div {
                    display: flex;
                    justify-content: center;

                    h3 {
                        background-color: white;
                        border: lightgray 1px solid;
                        padding: 5px 15px;
                        height: 35px;
                    }

                    .btnCarritoIzq {
                        border-top-left-radius: 8px;
                        border-bottom-left-radius: 8px;
                    }

                    .btnCarritoDer {
                        border-top-right-radius: 8px;
                        border-bottom-right-radius: 8px;
                    }

                }
            }
        }

        .celdaTotal {
            background-color: lightgray;

            h2 {
                font-weight: bold;
            }
        }
    }

    .btnCarritoFinalizar {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 30px;

        button {
            @include botonPrincipal;
            font-size: 1.3rem;
            border-radius: 15px;
            padding: 10px 15px;
        }
    }
}