/*Home*/

.carouselHome {
    width: 88vw;
    margin: auto;
    margin-top: 3px;
    border: $colorSecundario 8px double;

    img {
        object-fit: fill;
        height: 30rem;
        width: 100%;
    }
}


.iconosHome {
    display: flex;
    justify-content: space-evenly;

    div {
        display: flex inline-block;

        img {
            height: 3.7rem;
            margin: 5%;
            margin-left: 37%;
        }

        div {
            h3 {
                font-size: 1.4rem;
                color: $colorPrincipal;
                text-align: center;
                text-transform: uppercase;
                font-weight: bolder;
            }

            h4 {
                font-size: 1.2rem;
                text-align: center;
                font-weight: bolder;
                color: $letraOscura;
            }
        }
    }
}

.h1Home {
    background-color: $colorPrincipal;
    font-size: 2rem;
    color: $letraClara;
    padding: 15px;
}